
    <section id="newsletter">
        <div class="container">
            <h1>Admin</h>
            <!-- <form>
                <input type="email", placeholder="enter email">
                <button type="submit"  class="button_1" >Subscribe</button>
            </form> -->
        </div>
    </section>


    
        <section>
            <div id="catagories-container">
        
                <a href="/admin" class="catagories">
        
                    <div class="catagories-icon">
                        <i class="fas fa-id-card-alt"></i>
                    </div>
                    <h2 class="icons-descraption">Admin</h2>
                </a>
        
                <a href="/admin/categories" class="catagories">
        
                    <div class="catagories-icon">
                        <i class="fas fa-layer-group"></i>
                    </div>
                    <h2 class="icons-descraption">Categories</h2>
                </a>
        
                <a href="/admin/posts" class="catagories">
        
                    <div class="catagories-icon">
                        <i class="fas fa-clone"></i>
                    </div>
                    <h2 class="icons-descraption">Post</h2>
                </a>
        
            </div>
        </section>
   
    