        <ul class="admin-nav">
            <li class="current">
                <a href="/admin">Admin</a>
            </li>
            <li class="current">
                <a href="/admin/categories">Catagories</a>
            </li>

            <li class="current">
                <a href="/admin/posts">MyPosts</a>
            </li>
            
        </ul>