
    <section id="newsletter">
        <div class="container">
            <h1>Project Controbuters</h>
            <!-- <form>
                <input type="email", placeholder="enter email">
                <button type="submit"  class="button_1" >Subscribe</button>
            </form> -->
        </div>
    </section>

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="page-title">Developers</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos cupiditate totam alias ex veniam natus quae perspiciatis, labore quasi necessitatibus temporibus porro provident molestiae, sapiente, ducimus laborum rerum? Maiores voluptatibus esse quam ad mollitia nisi magni exercitationem tempore quibusdam. Id odio fugiat ut dolorum odit, temporibus porro, doloribus quo excepturi dignissimos voluptatem eum! Neque, natus repudiandae. Libero quidem veritatis repudiandae perferendis delectus consequatur. Saepe quos, in deleniti praesentium, incidunt temporibus sequi laborum magnam laudantium repellat sit odio aliquam asperiores consectetur debitis earum quis et quam deserunt corporis provident minima. Itaque assumenda doloribus fugiat totam sed ipsum corrupti, perspiciatis quasi saepe.
                </p>
                <br/>
                <p class="dark">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos cupiditate totam alias ex veniam natus quae perspiciatis, labore quasi necessitatibus temporibus porro provident molestiae, sapiente, ducimus laborum rerum? Maiores voluptatibus esse quam ad mollitia nisi magni exercitationem tempore quibusdam. Id odio fugiat ut dolorum odit, temporibus porro, doloribus quo excepturi dignissimos voluptatem eum! Neque, natus repudiandae. Libero quidem veritatis repudiandae perferendis delectus consequatur. Saepe quos, in deleniti praesentium, incidunt temporibus sequi laborum magnam laudantium repellat sit odio aliquam asperiores consectetur debitis earum quis et quam deserunt corporis provident minima. Itaque assumenda doloribus fugiat totam sed ipsum corrupti, perspiciatis quasi saepe.
                </p>
                
            </article>
            <aside id="sidebar">
               <div class="dark">
                    <h3>Wat We Do</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis obcaecati dicta sapiente. Asperiores numquam consectetur reiciendis. Excepturi quidem nisi pariatur?
                    </p>
               </div>
            </aside>
        </div>
    </section>