 <section id="sohwcase">
        <div class="container">
            <h1> What is the DecX-ray</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, blanditiis.</p>
        </div>
    </section>
    <section id="newsletter">
        <div class="container">
            <h1>Project Controbuters</h>
            <!-- <form>
                <input type="email", placeholder="enter email">
                <button type="submit"  class="button_1" >Subscribe</button>
            </form> -->
        </div>
    </section>
    <section id="boxes">
        <div id="devcont" class="carousel container ">
            <div class="box carousel-item">
                <a href="#"><img class="img_logo" src="./img/developers/mustafaberk.jpg" alt=""></a>
                <h3>Tübitak</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
            </div>
            <div class="box carousel-item">
                <a href="#"><img class="img_logo" src="./img/developers/mustafaberk.jpg" alt=""></a>
                <h3>Tübitak</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
            </div>
            <div class="box carousel-item">
                <a href="#"><img class="img_logo" src="./img/developers/mustafaberk.jpg" alt=""></a>
                <h3>Tübitak</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p> 
            </div>

                
        </div>
         
        
    </section>


    <script src="/js/developers.js"></script>
    <script src="/js/UIdevelopers.js"></script>
    <script src="/js/loaddevelopers.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
         $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>

     <script type="text/javascript">
         $(document).ready(function(){
            $('.img_logo').hover(function(){
                console.log("entered");
                $(this).css("border-color", "#0097e8");
                $(this).css("width", "80%");
                $(this).css("box-shadow", "0 0 10px #0097e8, 0 0 40px #0097e8");
            },
            function(){ 
                console.log("Exited");
                $(this).css("border-color", "#35424a");
                $(this).css("width", "70%");
                $(this).css("box-shadow", "0 0 5px #0097e8, 0 0 25px #0097e8");
            });
        });
    </script>